*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}






.header {
    box-shadow: 0px 0px 25px 0px #05191914;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.header__wrapper {
    padding: 8px 250px;
    display: grid;
    grid-template-columns: auto 1fr;
}
.header__wrapper {
    padding: 8px 250px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.logo {
    width: fit-content;
    border: 1px solid blue;
}

.desc-menu {
    border: 1px solid red;
}

.menu {
    height: 100%;
    gap: 12px;
    display: grid;
    grid-template-columns: 176px 184px 191px 166px 100px;
    justify-content: end;

    /* justify-items: end; */
}

.menu li {
    height: 100%;
    padding: 0;
    /* justify-self: end; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.mobile-menu {
    display: none;
}





@media screen and (max-width: 1366px){
    .header__wrapper {
        padding: 8px 45px;
    }
}
@media screen and (max-width: 768px){
    .header__wrapper {
        padding: 8px 16px;
    }
    .desc-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
        border-radius: 4px;
        padding: 12px;
        background-color: aqua;
        justify-self: end;
        align-self: center;
    }
}